@{
    ViewData["Title"] = "Send Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OnlineHelpDesk.Models.ViewModels.TicketViewModel

<section class="content-header">
    <h1>
        Send Ticket
    </h1>
    <ol class="breadcrumb">
        <li><a asp-controller="dashboard" asp-action="index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Send Ticket</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            @if (TempData["msg"] != null)
            {
                if (TempData["msg"].ToString() == "Done")
                {
                    <div class="callout callout-success">
                        <h4>Successful</h4>
                    </div>
                }
                else
                {
                    <div class="callout callout-danger">
                        <h4>Failed</h4>
                    </div>
                }
            }

            <div class="box box-primary">

                <form asp-controller="ticket" asp-action="send" method="post" enctype="multipart/form-data">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" required="required" asp-for="Ticket.Title">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" asp-for="Ticket.Description"></textarea>
                        </div>

                        @*<div class="form-group">
                                <label>Status</label>
                                <select class="form-control" asp-for="Ticket.StatusId" asp-items="@Model.Statuses">
                                </select>
                            </div>*@

                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" id="categoryId" asp-for="Ticket.CategoryId" asp-items="@Model.Categories" required="required">
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Sub Category</label>
                            <select class="form-control" id="selectSubCategroy" asp-for="Ticket.SubCategoryId" asp-items="@ViewBag.subCategories" required>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Period</label>
                            <select class="form-control" asp-for="Ticket.PeriodId" asp-items="@Model.Periods" required>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">Files</label>
                            <input id="exampleInputFile" type="file" name="files" multiple="multiple" accept="image/*" />
                            <p class="help-block">Options</p>
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" asp-for="Ticket.TicketId">
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" asp-for="Ticket.StatusId" value="1">
                        </div>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(document).on("change", "#categoryId", function () {
            var categoryId = $('#categoryId').val();
            $.ajax({
                url: "FillSubCategories",
                type: "GET",
                data: { categoryId: categoryId },
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    console.log(result);
                    var categories = "";
                    $(result.subCategories).each(function () {
                        categories = categories + '<option value="' + this.value + '">' + this.text + '</option>'
                    });

                    var subCateList = $("#selectSubCategroy");
                    subCateList.empty();
                    subCateList.append(categories);
                },
                error: function (data) {
                    return "Error";
                }
            });
        });
    });
</script>